<div class="card bg-secondary mb-5 p-3">
  <h1>Title: <%= @document.title %></h1>
  <h5>Notes: <%= @document.note %></h5>
</div>

<section class="section">
  <div class="article container">
    <% if @document.fragments.empty?  %>
      <%= render "fragments/new", position: 0 %>
    <% end%>
    <% @document.fragments.each do |fragment| %>
      <%= render fragment %>
      <%= render "fragments/new", position: fragment.position %>
    <% end %>
  </div>
</section>