<div class="add-fragment" data-controller="add-fragment">
  <div class="add-fragment-button-container">
    <%= form_with(
      model: [@document, Fragment.new(
        element: "p",
        data: "edit me",
        position: (position + 1))], class: 'add-fragment-form') do |form| %>
      <%= form.text_field :data, hidden: true %>
      <%= form.text_field :element, hidden: true %>
      <%= form.text_field :meta, hidden: true %>
      <%= form.text_field :position, hidden: true %>
      <%= form.hidden_field :dom_id, value: dom_id %>
      <%= form.submit("Create", hidden: true, data: { turbo: false }) %>
      <button
        class="button is-link is-round is-small"
        data-action="click->add-fragment#showMenu">
        <i class="fa fa-plus"></i>
      </button>
    <% end %>
  </div>
  <hr class="add-fragment-indicator"></hr>
</div>